:root{
    --cor-principal: rgb(68, 192, 190);
    --cor-principal-escura: rgb(34,97,96);
    --cor-botao: rgb(95,157,196);
    --cor-fundo: rgb(241,241,241);
}

body{
    background: var(--cor-fundo);
}

/* '*' Pode atrapalhar os outros*/

* {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.titulo{
    background: var(--cor-principal);
    color: #ffffff;
    padding: 10px;
}

.principal{
    background: var(--cor-principal);
    max-width: 640px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.labelInput{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

label,input{
    display: block;
    width: 99%;
    margin-bottom: 10px;
    padding-left: 15px;
}

input{
    font-size: 24;
    height: 30px;
}

button{
    background: var(--cor-botao);
    font-size: larger;
    width: 100%;
    color: #ffffff;
    border:none;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}